<div class="main-container">
  <div class="title-container">
    <span class="title">Готовься к <span class="blue">ОГЭ</span> и <span class="blue">ЕГЭ</span> вместе с нами!</span>
    <span class="desc">Образовательная платформа для учеников 9-11 классов для подготовки в экзаменам</span>
  </div>
  <div class="groups">
    <div class="group">
      <div class="group-title-container">
        <span class="group-title">Демоварианты ОГЭ и ЕГЭ</span>
        <img src="assets/images/demo-tests.svg" alt="" class="group-img">
      </div>
      <button class="go-to" routerLink="/demo-tests">Перейти</button>
    </div>
  </div>
</div>